<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>test</title>
<script type="text/javascript" src="js/jquery.min.js"></script>
<style type="text/css">
table{
	margin-top: 50px;
}
table tr{
	width:80%;
}
table td{
	margin-left: 20px;
}
</style>
</head>
<body>
<textarea id="n1" rows="5" cols="100" name="n1"></textarea><br><br>
<input type="submit" value="submit" onclick="submit();">
<div id="showTable"></div>
</body>
<script type="text/javascript">
function submit(){
	var val = $("#n1").val();
	$("#showTable").html("");


	// $.getJSON("http://localhost:5000/core-advisor/problem?text="+val+"&callback=?",function(data){
	// 	console.log(data);
	// 		$("#showTable").html("");
	// 		var t = document.getElementById('showTable');
	// 		// var table1 = createTable(data.t1,3);
	// 		// t.appendChild(table1);
	// 		var table2 = createTable(data.t2,4);
	// 		t.appendChild(table2);
	// }); 


	$.ajax({
		type : "get",
		url : "problem?text="+val, // API interface, ignore IP address because html and server.py are in the same project
		dataType : "json",
		//dataType: "jsonp",
		//jsonp: "callback",
		contentType: "application/text",
		success : function(data) {
			console.log(data);
			$("#showTable").html("");

			// Table1
			var t = document.getElementById('showTable');
			// var table1 = createTable(data.t1,3);
			// t.appendChild(table1);
			var table1 = createTable(data.t1,5);
			t.appendChild(table1);

			/*
			// Table2
			var t2 = document.getElementById('showTable');
			// var table1 = createTable(data.t1,3);
			// t.appendChild(table1);
			var table2 = createTable(data.t2,4);
			t2.appendChild(table2);
			*/			
		},
		error : function(data) {
			console.log("error");
		}
	});
}
function createTable(data,n){
	var table = document.createElement("table");
	table.id='userTable';
	var tbody = document.createElement("tbody");
	table.appendChild(tbody);
	for (i=0; i<data.length;i++)
	{
		var line = data[i].split("\t");
		c = data[i];
		tr  = document.createElement("tr");
		tbody.appendChild(tr);
		for(var j=0;j<n;j++){
			addCell(tr,line[j]);
		}
	}
	return table;
}
function addCell(tr, value)
{
	var td = document.createElement("td");
	td.textContent = value;
	tr.appendChild(td);
}
</script>
</html>